# database
POSTGRES_DB=url_shortener
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=5432

DATABASE_URL="postgresql://postgres:postgres@localhost:5432/url_shortener?schema=public"

# redis
REDIS_URL=redis://localhost:6379
REDIS_PORT=6379

# app
PORT=3000
JWT_SECRET=nBNq9o3QBvlktOPLTGwFj4DBNxoAW5iDFa6kN7gmsBd
JWT_EXPIRES_IN=1d
